<!DOCTYPE html>
<html lang="en">
<head>
  <title>Motormarche</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
<div class="outer-container">
{% extends "header.html" %}

{% block body %}

<body>

	<div class="container">
		<h4>Register</h4>
		<br>
		{% from "_formhelpers.html" import render_field %}
		<form method=post action="/register/">
			<dl>
				{{render_field(form.username)}}
				{{render_field(form.email)}}
				{{render_field(form.password)}}
				{{render_field(form.confirm)}}
				{{render_field(form.accept_tos)}}
			</dl>
			<p><input type=submit value=Register></p>
		</form>

		{% if error %}
			<p class="error"><strong>Error:</strong>{{error}}</p>

		{% endif %}
	</div> 

</body>

{% endblock %}